Esercizio 
Abbiamo una lista di liste:
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
Che tipo di struttura dati o matematica potrebbe rappresentare?
Notare che tutte le liste "interne" sono della stessa dimensione
Come facciamo per accedere ad un elemento in particolare?

In [1]:
import numpy as np

mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
arr=np.array(mat)
#per accedere usiamo gli indici in ordine decrescente, cioè dall'aarray, a ciò che c'è dentro
print(arr[1,4])

9

Esercizio
Importiamo il modulo math
e proviamo a usare le funzioni
.sin() 
.cos() 
.factorial() 
e la variabile .pi la riconoscete?

In [11]:
import math

x=int(input("inserisci un numero: "))

print(math.sin(x))
print(math.cos(x))
print(math.factorial(x))

print(math.pi)

inserisci un numero:  5

-0.9589242746631385
0.28366218546322625
120
3.141592653589793

Esercizio 
Proviamo a eseguire 
math.degrees(math.pi) 
Qual è e cosa significa il risultato?
Per saperne di più su questa funzione possiamo usare 
help(math.degrees)

In [12]:
#gradi angolo pi
math.degrees(math.pi)

180.0

In [13]:
help(math.degrees)

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

Esercizio
L'azienda Object SpA ha creato una lista
di quanti oggetti ha venduto ogni mese nell'ultimo anno:

lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]

trasformiamola in un
array NumPy
(casting): lst = np.array(lst) 
e rispondiamo alle domande del CEO della Object SpA:
• qual è stata la vendita massima mensile? E quella minima?
• quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono?
• quali sono le vendite minori di 3000 oggetti? 
• in media quanti oggetti sono stati venduti al mese?

In [20]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]

arr=np.array(lst)

# qual è stata la vendita massima mensile? E quella minima?
print(arr.max())
print(arr.min())

8150
1280

In [25]:
# quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono?
filtro=arr[arr > 4999]
print(filtro)
print(len(filtro))

[5500 7200 6410 8150 7100 5350]
6

In [27]:
# quali sono le vendite minori di 3000 oggetti? 
print(arr[arr<3000])

[2000 1280 1900 2500]

In [29]:
# in media quanti oggetti sono stati venduti al mese?

print(arr.mean())

4634.166666666667

Esercizio
Consideriamo il seguente dizionario:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000} 
Consideriamo ora la seguente Series:
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005)) 
Possiamo accedere alle stesse informazioni nello stesso modo: 
fatturati_dict[1997]
fatturati_series[1997]

Dunque qual è la differenza tra i due tipi di dato?
Cosa potremmo fare con la Series che non possiamo fare con il dizionario?

Calcolare statistiche descrittive 
Filtrare e aggregare dati in base a criteri specifici
Eseguire operazioni matematiche come somma, media, prodotto, divisione, ecc. su serie di dati

Esercizio
L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, 
memorizzato in un ndarray:
import numpy as np
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )
L'azienda ci chiede di raddoppiare tutti gli stipendi; 
facciamolo in due modi: 
• con un ciclo for
• con il masking

In [42]:
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )
stip_rad=[]

for stipendio in stipendi:
    stip_rad.append(stipendio*2)
print(stip_rad)

[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]

In [43]:
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )

print(stipendi*2)

[ 200  400  600  800 1000 1200 1400 1600 1800 2000]